{% extends "account/email/base.html" %}

{% block body %}
Hello,
<br>
<br>
The following comment has just been generated:
<br>
<br>
<ul>
  <li><strong>User:</strong> {{ creator }}</li>
  <li><strong>Comment:</strong> {{ comment }}</li>
  <li><strong>Target:</strong> {{ target }}</li>
</ul>
<br>
<br>
Here's the full Annotation:
<br>
<br>
<pre>
  <code>
    {{ annotation }}
  </code>
</pre>
<br>
<br>
Note that these messages can be disabled by setting EMAIL_COMMENT_ANNOTATIONS
to False in the main PYBOSSA settings file.
<br>
<br>
Thanks,
<br>
<p>{{ config.BRAND }} Team
{% endblock %}