{% extends "account/email/base.html" %}

{% block body %}
Hello,
<br>
<br>
The following comment has just been generated:
<br>
<br>
<strong>User:</strong> {{ creator }}
<strong>Comment:</strong> {{ comment }}
<strong>Source:</strong> {{ source }}
<br>
<br>
Here's the full Annotation:
<br>
<br>
<pre>
  <code>
    {{ annotation | tojson }}
  </code>
</pre>
<br>
<br>
Note that these messages can be disabled by setting EMAIL_COMMENT_ANNOTATIONS
to False in the main PYBOSSA settings file.
<br>
<br>
Thanks,
<br>
<p>{{ config.BRAND }} Team
{% endblock %}