{% extends "account/email/base.html" %}

{% block body %}
Hello {{ user['fullname'] }},
<br>
<br>
You submitted a request to create or update the
 <strong>{{ template['name'] }}</strong> template. Good news, the proposed
 changes have been accepted!
<br>
<br>
To create a project using your new template visit
 <a href="{{ config.SPA_SERVER_NAME }}">{{ config.SPA_SERVER_NAME }}</a> and
 select the <strong>New Project</strong> option from the main menu (click the
 Menu button in the navigation bar).
<br>
<br>
Please get in touch at
 <a href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a>
 for further guidance.
<br>
<br>
Regards,
<br>
{{ config.BRAND }} Team
{% endblock %}