{% extends "account/email/base.html" %}
{% set unsubscribe = True %}

{% block body %}
Hello {{ project.owner.name }}
<br>
<br>
Here are some updates about how your project has been running over the past week.
<br>
<ul>
    <li>
        <strong>Number of completed tasks:</strong> {{n_completed_tasks | humanize_intword }}
    </li>
    <li>
        <strong>Most active day of the week:</strong> {{active_day[0]}} (with {{active_day[1]}} answers submitted)
    </li>
    <li>
        <strong>Registered users:</strong> {{ users_stats.n_auth | humanize_intword  }}
    </li>
    <li>
        <strong>Anonymous users:</strong> {{ users_stats.n_anon | humanize_intword  }}
    </li>
</ul>
{% if users_stats['auth']['top5'] %}
Top registered users:
<br>
<ol>
    {% for u in users_stats['auth']['top5'] %}
    <li><a href="{{ url_for('account.profile', name=u.name, _external=True) }}">{{ u.fullname }}</a></li>
    {% endfor %}
</ol>
<br>
{% endif %}
{% if users_stats['anon']['top5'] %}
Top locations for anonymous users:
<br>
<ol>
    {% for u in users_stats['anon']['top5'] %}
    <li>{{ u.loc.country_name }}, {{ u.loc.city }}</li>
    {% endfor %}
</ol>
<br>
{% endif %}
<br>
{% set hashtag = "crowdsourcing" %}

Perhaps a bit of promotion would help:
<div class="text-center">
    <blockquote class="twitter-tweet">
        {{ project.description | truncate(100) }}
        <a href="{{ url_for('project.details', short_name=project.short_name, _external=True) }}" target="_blank">
            {{ url_for('project.details', short_name=project.short_name, _external=True) | urlencode }}
        </a> <a href="https://twitter.com/hashtag/{{ hastag }}?src=hash" target="_blank">#{{ hashtag }}</a>
    </blockquote>
    <br>
    <br>
    <a href="https://twitter.com/intent/tweet?text={{ project.description | truncate(100) | urlencode }}&url={{ url_for('project.details', short_name=project.short_name, _external=True) | urlencode }}&hashtags={{ hashtag }}" class="btn-twitter">Tweet it</a>
</div>
<br>
All the best,
<br>
{{ config.BRAND }} Team
{% endblock %}

{% if config.get('CONTACT_TWITTER') %}
***

[Follow us on Twitter](http://twitter.com/{{ config['CONTACT_TWITTER'] }})
{% endif %}